.privacityRadioGroup {
    width: 100%;

    .ant-form-item-control {
        .ant-form-item-control-input {
            .ant-form-item-control-input-content {
                .ant-radio-group {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .ckeck {
                        p {
                            margin: 35px 12px 0 12px;
                            width: 90%;
                        }

                        .ant-radio-wrapper {
                            position: absolute;
                            min-width: 49%;
                            min-height: 97px;
                            border: 1px solid #E4E4E4;
                            border-radius: 5px;
                            padding: 10px;

                            @media (max-width: 573px) {
                                min-height: 125px;
                            }
                        }

                        .ant-radio-wrapper-checked {
                            position: absolute;
                            min-width: 49%;
                            min-height: 97px;
                            border: 1px solid #48B5FE;
                            border-radius: 5px;
                            opacity: 1;

                            @media (max-width: 573px) {
                                min-height: 125px;
                            }
                        }
                    }
                }
            }
        }
    }

}