.visualComponent {
    visibility: visible;
    position: fixed;
    right: 0;

    @media (max-width: 1290px) {
        visibility: hidden;
    }

    .logoDefault {
        position: absolute;
        right: 557px;
        top: 284px;
        border-radius: 50%;
    }

    .icoDefault {
        position: absolute;
        right: 552px;
        top: 212px;
        background-color: rgb(202, 202, 202);
        border-radius: 50%;
        img {
            border-radius: 50%;
            object-fit: cover;
        }
    }

    svg {

        .a,
        .b,
        .k {
            fill: #fff;
        }

        .a {
            stroke: #707070;
        }

        .b {
            stroke: #e4e4e4;
        }

        .c,
        .m {
            fill: #f5f6f8;
        }

        .d {
            clip-path: url(#a);
        }

        .e {
            fill: #feaf31;
        }

        .f {
            fill: #f5f5f5;
        }

        .ac,
        .g,
        .h {
            fill: none;
        }

        .g {
            stroke: #fff;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        .h {
            stroke: #48b5fe;
        }

        .i {
            fill: #eaf0ff;
        }

        .i,
        .r {
            opacity: 0.5;
        }

        .j {
            fill: #d8dfff;
        }

        .l {
            clip-path: url(#d);
        }

        .m {
            stroke: #196fc1;
        }

        .n {
            fill: #bcbec1;
        }

        .o {
            fill: #c7e4ff;
        }

        .p {
            fill: #e1e8eb;
        }

        .q {
            fill: #b4d5f5;
        }

        .aa,
        .r {
            fill: #cfd0d2;
        }

        .s {
            fill: #48b5fe;
        }

        .t {
            fill: #e7eaee;
        }

        .u {
            fill: #dfdfdf;
        }

        .ae,
        .v {
            fill: #538944;
        }

        .v,
        .w {
            font-size: 14px;
        }

        .v {
            font-family: OpenSans-SemiBold, Open Sans;
            font-weight: 600;
        }

        .w {
            font-family: OpenSans-Regular, Open Sans;
        }

        .x {
            fill: #2b2b2b;
        }

        .ad,
        .x {
            opacity: 0.2;
        }

        .y {
            clip-path: url(#o);
        }

        .z {
            fill: #ebf7ff;
        }

        .ab {
            fill: #ffc60a;
        }

        .af {
            stroke: none;
        }

        .ag {
            filter: url(#m);
        }

        .ah {
            filter: url(#k);
        }

        .ai {
            filter: url(#i);
        }

        .aj {
            filter: url(#g);
        }

        .ak {
            filter: url(#e);
        }

        .al {
            filter: url(#b);
        }
    }


    .blueColor {
        fill: #39B0FF;
    }

    .greenColor {
        fill: #04B58B;
    }

    .lemonColor {
        fill: #3E9C4B;
    }

    .yelowColor {
        fill: #B6BC00;
    }

    .lightOrangeColor {
        fill: #E59100;
    }

    .orangeColor {
        fill: #E55C00;
    }

    .redColor {
        fill: #EE1F50;
    }

    .pinkColor {
        fill: #D6198A;
    }

    .purpleColor {
        fill: #D6198A;
    }

    .cieloColor {
        fill: #39B0FF;
    }

}